{{> "layouts/main.hbs" title="Privacy Policy (Gizlilik Politikası)"}}

<h2>Delâilü'l-Hayrât</h2>

<p>This privacy policy outlines the collection, use, and sharing of personal information by the Delâilü'l-Hayrât application ("the app"). This policy should be available on the <a href="https://play.google.com/store/apps/details?id=com.uykalkan.delailihayrat">Google Play Store Listing</a> page and in linked areas within the app.</p>

<h3>Collection and Use of Personal Information:</h3>
<p>We may collect some personal information from you to provide and improve our services. This information may include your name, email address, and device information. The information we collect may be used to personalize our services, implement security measures, and enhance user experience.</p>

<h3>Sharing of Personal Information:</h3>
<p>We never share your personal information with third parties without your consent. However, we may share this information when required by law or when necessary to provide our services.</p>

<h3>Cookies:</h3>
<p>We may use cookies to improve our services and enhance user experience. Please note that if you prefer not to use cookies, some features may be restricted.</p>

<h3>Changes to Privacy Policy:</h3>
<p>Our privacy policy may be updated from time to time. Changes will be effective by publishing an updated version or by clearly indicating in the current version. You should regularly check this page to keep track of updates.</p>

<h3>Acceptance and Effectiveness:</h3>
<p>This Privacy Policy becomes effective when you accept this Policy by using our services.</p>

<h3>Contact:</h3>
<p>If you have any questions regarding this Privacy Policy, please feel free to contact us at <a href="mailto:uykalkan@gmail.com">uykalkan@gmail.com</a>.</p>

<p>The application is developed by <strong>Ümit Yaşar Kalkan</strong>.</p>

<hr />

<h2>Delâilü'l-Hayrât</h2>

<p>Bu gizlilik politikası, Delâilü'l-Hayrât uygulaması ("uygulama") tarafından toplanan, kullanılan ve paylaşılan kişisel bilgileri açıklar. Bu politika, uygulamanın <a href="https://play.google.com/store/apps/details?id=com.uykalkan.delailihayrat">Google Play Store Mağaza Girişi</a> sayfasında ve uygulama içindeki bağlantılı alanlarda bulunmalıdır.</p>

<h3>Kişisel Bilgi Toplama ve Kullanımı:</h3>
<p>Hizmetlerimizi sunmak ve geliştirmek amacıyla, adınız, e-posta adresiniz ve cihaz bilgileriniz gibi bazı kişisel bilgileri toplayabiliriz. Topladığımız bu bilgiler, hizmetlerimizi kişiselleştirmek, güvenlik önlemleri almak ve kullanıcı deneyimini iyileştirmek amacıyla kullanılabilir.</p>

<h3>Kişisel Bilgi Paylaşımı:</h3>
<p>Kişisel bilgilerinizi asla izinsiz olarak üçüncü taraflarla paylaşmayız. Ancak, yasal gereklilikler dahilinde veya hizmetlerimizi sunmak için gerekli olduğunda bu bilgileri paylaşabiliriz.</p>

<h3>Çerezler:</h3>
<p>Hizmetlerimizi daha iyi hale getirmek ve kullanıcı deneyimini iyileştirmek için çerezler kullanabiliriz. Çerez kullanımını tercih etmezseniz, bazı özelliklerin kısıtlanabileceğini unutmayın.</p>

<h3>Gizlilik Politikası Değişiklikleri:</h3>
<p>Gizlilik politikamız zaman zaman güncellenebilir. Değişiklikler, güncellenmiş bir sürüm yayınlayarak veya mevcut sürümde belirgin bir şekilde belirtildiği takdirde geçerli olacaktır.</p>

<h3>Kabul Edilme ve Yürürlük:</h3>
<p>Bu Gizlilik Politikası, hizmetlerimizi kullanarak bu Politikayı kabul ettiğinizde yürürlüğe girer.</p>

<h3>İletişim:</h3>
<p>Eğer bu Gizlilik Politikası hakkında herhangi bir sorunuz varsa, lütfen bize <a href="mailto:uykalkan@gmail.com">uykalkan@gmail.com</a> adresinden ulaşın.</p>

<p>Uygulama, <strong>Ümit Yaşar Kalkan</strong> tarafından geliştirilmiştir.</p>