{{> "layouts/main.hbs" title="Privacy Policy List (Gizlilik Politikası Listesi)"}}

<ul>
    <li><a href="/privacy/privacy-policy">Gizlilik Politikası</a></li>
    <li><a href="/privacy/delailihayrat">Delâilü'l-Hayrât</a></li>
</ul>