{{> "layouts/main.hbs" title="Privacy Policy (Gizlilik Politikası)"}}


<p>As a platform that values privacy, I strive to protect the privacy of my users by providing services in a manner that respects their privacy. Therefore, I adhere to the following policies regarding the collection, use, and sharing of personal information:</p>

<h2>Collection and Use of Personal Information:</h2>
<p>I may collect some personal information from you to provide and improve my services. This information may include your name, email address, and device information. The information I collect may be used to personalize my services, implement security measures, and enhance user experience.</p>

<h2>Sharing of Personal Information:</h2>
<p>I never share your personal information with third parties without your consent. However, I may share this information when required by law or when necessary to provide my services.</p>

<h2>Cookies:</h2>
<p>I may use cookies to improve my services and enhance user experience. Please note that if you prefer not to use cookies, some features may be restricted.</p>

<h2>Changes to Privacy Policy:</h2>
<p>My privacy policy may be updated from time to time. Changes will be effective by publishing an updated version or by clearly indicating in the current version. You should regularly check this page to keep track of updates.</p>

<h2>Acceptance and Effectiveness:</h2>
<p>This Privacy Policy becomes effective when you accept this Policy by using my services.</p>

<p>If you have any questions regarding this Privacy Policy, please feel free to contact me.</p>

<h3>Contact:</h3>
<a href="mailto:uykalkan@gmail.com">uykalkan@gmail.com</a>

<hr />

    <p>Ben, gizliliği önemseyen bir şekilde hizmet sunan bir platform olarak, kullanıcılarımın gizliliğini korumak için çaba gösteriyorum. Bu nedenle, kişisel bilgilerinizin toplanması, kullanılması ve paylaşılması konusunda aşağıdaki politikaları takip ediyorum:</p>

    <h2>Kişisel Bilgi Toplama ve Kullanımı:</h2>
    <p>Hizmetlerimi sunmak ve geliştirmek için sizden bazı kişisel bilgileri toplayabilirim. Bu bilgiler, adınız, e-posta adresiniz, cihaz bilgileriniz gibi tanımlayıcı bilgileri içerebilir. Topladığım bu bilgiler, hizmetlerimi kişiselleştirmek, güvenlik önlemleri almak ve kullanıcı deneyimini iyileştirmek amacıyla kullanılabilir.</p>

    <h2>Kişisel Bilgi Paylaşımı:</h2>
    <p>Kişisel bilgilerinizi asla izinsiz olarak üçüncü taraflarla paylaşmam. Ancak, yasal gereklilikler dahilinde veya hizmetlerimi sunmak için gerekli olduğunda bu bilgileri paylaşabilirim.</p>

    <h2>Çerezler:</h2>
    <p>Hizmetlerimi daha iyi hale getirmek ve kullanıcı deneyimini iyileştirmek için çerezler kullanabilirim. Çerez kullanımını tercih etmezseniz, bazı özelliklerin kısıtlanabileceğini unutmayın.</p>

    <h2>Gizlilik Politikası Değişiklikleri:</h2>
    <p>Gizlilik politikam zaman zaman güncellenebilir. Değişiklikler, güncellenmiş bir sürüm yayınlayarak veya mevcut sürümde belirgin bir şekilde belirtildiği takdirde geçerli olacaktır. Güncellemeleri takip etmek için bu sayfayı düzenli olarak kontrol etmelisiniz.</p>

    <h2>Kabul Edilme ve Yürürlük:</h2>
    <p>Bu Gizlilik Politikası, hizmetlerimi kullanarak bu Politikayı kabul ettiğinizde yürürlüğe girer.</p>

    <p>Eğer bu Gizlilik Politikası hakkında herhangi bir sorunuz varsa, lütfen benimle iletişime geçin.</p>

    <h3>İletişim:</h3>
        <a href="mailto:uykalkan@gmail.com">uykalkan@gmail.com</a>